<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet">
    <title>Lamantin Framework | Home</title>
</head>
<body>
<div class="flex-center position-ref full-height">
    <div class="content">
        <div class="top-right links">
            <a href="/logout">logout</a>
        </div>
        <div class="m-b-md">
            <h2>Hello, {{ data.username }}</h2>
        </div>
    </div>
</div>
</body>
</html>