<!DOCTYPE html>
<head>
	<title>{{ title }}</title>
	<meta charset="UTF-8">

	<script src="{{ Vue_href_dev }}"></script>

	<link href="https://fonts.googleapis.com/css?family=Kulim+Park&display=swap" rel="stylesheet">	
	<link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="/public/css/main.css">
</head>
<body>
	<div id="app">
		<header>
			<center><h1 v-bind:title="data_last_update" id="grappy_h1">{{ h1 }}</h1></center>
		</header>
		<main>
			<center><p v-on:click="opacityGrappy" v-if="seen" >{{ it_work }}!</p></center>
		</main>
		<footer>
			{% if version == '0.8.0'  %}
				<p align="center">This resource powered by GrappyEngine v{{ version }}<p>
			{% else %}
				<p>Your grappy is out of date, please install the latest, current version</p>
				<a href="https://github.com/Phpesher/Grappy">Download</a>
			{% endif %}
			<br>
			<h3>< Components info: ></h3>
			<p>Data Base data: No connect</p>
			<p>Vue answer: ${ vue_answer }</p>
		</footer>
	</div>
	<img id="grappy_logo" src="https://i.ibb.co/nbWvmPb/Grappy-Logo.png" alt="Grappy-Logo">
	<script src="/public/js/main.js"></script>
</body>